@import url('https://fonts.googleapis.com/css2?family=Creepster&family=JetBrains+Mono&family=Koulen&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'JetBrains Mono', monospace;
}
canvas {
    display: block;
}

.options {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 100px 10px 100px;
    background-color: #1E1E1E;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}  

.res {
    color: rgb(204, 204, 204);
    font-size: 20px;
}

#resetButton {
    background: transparent; /* Green */
    border: none;
    color: white;
    text-align: center;
    width: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 10px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: rgba(211, 211, 211, 0.062);
}

#resetButton:active {
    background-color: rgba(124, 124, 124, 0.507);
}

#resSlider {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 2px solid black;
    background: rgb(104, 104, 104);
    cursor: pointer;


}

#resSlider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.514);
    height: 1em;
    width: 1em;
}

#resSlider::-webkit-slider-thumb:hover {
    background: rgb(230, 230, 230);
}

